@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import "./reset.css";

.app {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 30px;
}
